<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link rel="stylesheet" type="text/css" href='/static/css/style.css' />
</head>
<body>
    <ul>
        <li>
            <a href ='/'>Главная страница</a>
        </li>
        <li>
            <a href ='/create_new_contact/'>Добавит новый контакт</a>
        </li>
    </ul>
    <hr>
    <table frame="border" >
        <th>Имя</th><th>Статус</th><th>Номер</th>
        {% for i in range(num) %}
        <tr><th>{{context_names[i]}}</th><th>{{context_status[i]}}</th><th>{{context_phone[i]}}</th>
        {% endfor %}
    </table>
</body>
</html>