<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница создания новых контактов</title>
</head>
<body>
    <ul>
        <li>
            <a href ='/'>Главная страница</a>
        </li>
        <li>
             <a href ='/contacts/'>Контакты</a>
        </li>
    </ul>
    <hr>
    <form method="post">
        <p>Введите имя нового контакта</p>
        <input type="text" name="input_name">
        <p>Введите статус нового контакта</p>
        <input type="text" name="input_status">
        <p>Введите телефонный номер нового контакта</p>
        <input type="text" name="input_phone">
        <br>
        <br>
        <button type="submit">Создать новый контакт</button>

    </form>

</body>
</html>