<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная Страница</title>
</head>
<body>
    <ul>
        <li>
            <a href ='/contacts/'>Контакты</a>
        </li>
        <li>
            <a href ='/create_contacts/'>Добавит новый контакт</a>
        </li>
    </ul>
    <hr>
    <h>Владелец этого сайта: {{name}}</h>
    <br>
    <h>Возраст владельца: {{age}} </h>
    <br>
    <h>Телефонный номер владельца: {{phone_number}}</h>
    <br>
    <h>Email адрес владельца: {{e_mail}}</h>

</body>
</html>